<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%n%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%l]%m</Property>
        <Property name="basePath">logs</Property>
    </Properties>
  <Appenders>
    <!-- Console Appender -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}"  />
    </Console>
    <!-- File Appender -->
    <RollingFile name="allLog" fileName="${basePath}/WSpersona.log" filePattern="${basePath}/WSpersona-%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
    </RollingFile>
    <RollingFile name="errorLog" fileName="${basePath}/WSpersonaError.log" filePattern="${basePath}/WSpersonaError-%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="${LOG_PATTERN}" />
      <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
      <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
    </RollingFile>
     <RollingFile name="debugLog" fileName="${basePath}/WSpersonaDebug.log" filePattern="${basePath}/WSpersonaDebug-%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="${LOG_PATTERN}"  />
      <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
      <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
    </RollingFile>
     <RollingFile name="infLog" fileName="${basePath}/WSpersonaInfos.log" filePattern="${basePath}/WSpersonaInfo-%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="${LOG_PATTERN}"  />
      <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
      <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
    </RollingFile>
    
    
  </Appenders>

  <Loggers>
    <!-- Log everything in custom package -->
    <Logger name="com.escolar.persona" level="debug" additivity="false">
      <AppenderRef ref="allLog" />
      <AppenderRef ref="infLog" />
      <AppenderRef ref="debugLog" />
      <AppenderRef ref="errorLog" />
      <AppenderRef ref="Console" />          
    </Logger>
 <Root level="error">      
      <AppenderRef ref="errorLog" />
      <AppenderRef ref="Console" />     
    </Root>
   <!-- 
     <Logger name="org.springframework.boot" level="debug" additivity="false">
      <AppenderRef ref="Console" />      
    </Logger>

  
    <Logger name="org.springframework.core" level="debug" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>  

    <Root level="error">      
      <AppenderRef ref="FileError" />
    </Root>
    -->
  </Loggers>
</Configuration>